body {
    background-image: url("/static/images/background.png");
    margin: 0;
    color: #565656;
}

    body header#banner, .content {
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
    }

    header h1 {
        /*background: url("/static/images/dbpatterns-logo.png") no-repeat;*/
        margin: 0;
        padding: 0;
        text-align: left;
        float: left;
        width: 300px;
        font-weight: normal;
        font-size: 55px;
        letter-spacing: -1px;
    }

    header h1 a {
        color: #d8d8d8;
        text-decoration: none;
    }

    header h1 span {
        color: #2894df;
    }

    header nav {

    }

    header nav ul li {
        float: right;
        margin-left: 20px;
        margin-top: 20px;
    }

    header nav ul li a, .anchor, .button {
        display: block;
        padding: 2px 20px;
        background-color: #2894df;
        color: white;
        text-decoration: none;
        font-size: 24px;
        line-height: 1.5em;
        border: none;
        cursor: pointer;
    }

    header nav ul li a:hover, .anchor:hover, .button:hover {
        background-color: #268dd5;
    }

    header nav ul li a:active, .anchor:active, .button:active {
        background-color: #2485c9;
    }

    header nav li.my-profile {
        padding: 0;
        margin-right: -19px;
    }

        header nav li.my-profile a {
            margin: 0;
            padding: 0;
            background-color: white;
        }

    section.landing {
        font-size: 20px;

    }

    section cite {
        text-decoration: underline;
        font-style: normal;
    }

    section.latest {
        margin-top: 30px;
        margin-bottom: 50px;
        overflow: hidden;
    }

    section h2 {
        font-size: 29px;
        font-weight: normal;
        color: #5d605d;
        margin: 0 2px;
        padding: 5px 0;
        text-align: center;
    }



/* Footer */
body > footer {
    clear: both;
    background-color: #2894DF;
    width: 970px;
    padding: 10px;
    color: #fff;
    margin-right: -500px;
    font-size: 16px;
    position: fixed;
    z-index: 2;
    right: 50%;
    bottom: 0;
}

    body > footer a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid white;
        padding-bottom: 1px;
        display: inline-block;
    }

    body> footer a.feedback {
        float: right;
        margin-right: 10px;
    }


/* Documents */
article#document {

}

    article#document h1 {
        float: left;
        width: 50%;
        font-size: 40px;
        margin-top: 14px;
        color: #707070;
        margin-left: 20px;
    }

    #document-edit-view header, #document-show-view header  {
        width: 100% !important;
    }

    article#document nav.tools {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 3;
    }

    article#document nav.leave {
        position: absolute;
        float: right;
        right: 20px;
        z-index: 3;
    }

    article#document .edit-document {
        position: absolute;
        left: 10px;
        top: 10px;
    }

        article#document .edit-document a {
            text-indent: -9999px;
        }

    article#document .edit-title {
        margin-left: 55px;
    }

.settings {
    position: absolute;
    z-index: 2;
    width: 500px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px #bbbbbb;
    left: 50%;
    top: 30%;
    margin-top: -100px;
    margin-left: -250px;
}

.settings p {
    margin: 10px 9px 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.settings label {
    display: block;
    margin-bottom: 5px;
}

.settings #title {
    padding: 10px;
    width: 94%;
    border: 1px solid #c4c4c4;
    font-size: 20px;
    margin-left: 2px;
}

.settings h3 {
    padding: 7px 10px;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
}

.settings label[for="is_public"],
.settings label[for="is_private"]
{
    float: left;
    width: 100px;
    margin-top: 5px;
    margin-left: 10px;
}

.settings #is_public input,
.settings #is_private input {
    margin-right: 20px;
    display: inline-block;
}

.settings footer {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.settings .anchor {
    display: inline;
    font-size: 18px;
    margin-right: 10px;
}

.content {
    padding-bottom: 40px;
}

.content form {
    padding: 30px;
    font-size: 20px;

    margin: auto;
}

    .content form label {
        display: block;
    }

    .content form .helptext {
        color: gray;
        display: block;
        /*margin-left: 150px;*/
        padding: 2px 5px;
        font-size: 16px;
    }

    .content input {
        padding: 2px 4px;
    }

    .content input[type='submit'] {
        margin-left: 25%;
        padding: 2px 10px;
        background-color: #2485c9;
        color: white;
        border: 1px solid #227fc1;
    }

    .content input[type='submit']:active {
        background-color: #1f70a9;
    }

    .content form .errorlist {
        margin: 0;
        padding: 0;
    }

    .content form .errorlist li {
        margin: 0 0 -22px;
        padding: 0;
        list-style-type: none;
        color: red;
    }


.documents ul {
    margin-left: 10px;
    padding: 0;
}

.documents ul li {
        list-style-type: none;
        font-size: 18px;
        padding: 4px 10px 0 10px;
        border-left: 8px solid #e9e8f1;
        margin-bottom: 30px;
        margin-left: 20px;

    }

    .documents ul li i {
        font-style: normal;
        font-size: 15px;

        position: absolute;
        display: block;
        color: #acacac;
        margin-top: 20px;
        margin-left: -60px;

        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);

        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;

        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    }

    .documents ul li a {
        text-decoration: none;
        font-size: 25px;
        color: #414141;
    }


    .documents .info {
            padding: 2px 0;
            margin-left: 0;
            color: gray;
        }

    .documents .info a {
        color: #2485c9;
        font-size: 20px;
        display: inline-block;
        margin-right: 10px;
    }

    .documents .gravatar {
        position: absolute;
        margin-left: -90px;
        margin-top: -4px;
    }

    .documents .gravatar img {
        height: 68px;
    }

/* Forks */

.forks.documents ul {
    margin-left: 70px;
}


/* ICONS */
.icon {
    display: inline-block;
    padding-left: 30px;
    background: url("/static/images/icons.png") no-repeat;
    color: #2485c9;
    text-decoration: none;
}

    .icon.fork {
        background-position: 0 -45px;
    }

    .icon.star {
        background-position: 0 -8px;
        padding-left: 35px;
    }

    .icon.gear {
        background-position: 0 -80px;
        padding-left: 35px;
    }


.document-preview {
    margin: 0 10px;
    padding: 0;
    overflow: hidden;
}

    .document-preview a {
        color: #2485c9;
        text-decoration: none;
    }

    .document-preview h4 {
        font-size: 20px;
        text-align: left;
        margin: 0 2px 2px;
        letter-spacing: -1px;
        height: 1.4em;
        overflow: hidden;
    }

    .document-preview .entity-list {
    }

    .document-preview .entity-preview {
        float: left;
        margin: 10px;
        width: 120px;
        font-size: 14px;
        background-color: white;
        padding: 0;
        border: 1px solid #eaeaea;
        overflow: hidden;
        color: gray;
    }

    .document-preview .entity-preview li {
        list-style-type: none;
        margin: 0;
        padding: 2px 5px;
    }

    .document-preview .entity-preview .attribute {
        border-top: 1px solid #f1f1f1;
    }

    .document-preview .entity-preview .name {
        font-weight: bold;
        overflow: hidden;
        color: #5b5b5b;
        background-color: #f6f6f6;

    }

    .document-preview .gravatar {
        position: absolute;
        margin-top: 135px;
        margin-left: 130px;
        -webkit-box-shadow: 0 0 2px gray;
    }

    .document-preview .gravatar img {
        background-color: white;
        padding: 3px;
    }

    .document-preview .document-info {
        margin-top: 25px;
        margin-left: 40px;
        width: 100px;
    }

    .document-preview .document-info .icon {
        padding-left: 35px;
    }



/* PROFILES */

.profile {
    width: 300px;
    bottom: 15px;
    position: fixed;
    z-index: 3;
    height: 110px;
    margin-left: 20px;
}

    .profile .image {
        padding: 10px;
        background-color: #2894df;
        float: left;
    }

    .profile .image img {
        border: 1px solid #195c8a;
    }

    .profile .info {
        float: left;
        margin: 31px 0 0;
    }

    .profile .info span {
        display: inline-block;
        padding-left: 5px;
        font-size: 20px;
        color: #4d4d4d;
    }

    .profile h4 {
        margin: 0;
        padding: 5px 20px 5px 0;
        background-color: #2894df;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
    }

    .profile h4 a {
        text-decoration: none;
        color: white;
    }

    #profile-detail .fork {
        margin-left: -13px;
    }


/*
* ENTITIES
*/

#entities {
    position: relative;
}

.entity {
    z-index: 2;
    font-size: 16px;
    background-color: #fff;
    width: 200px;
    border: 1px solid #d5d5d5;
    color: #505050;
    margin-bottom: 10px;
    position: absolute !important; /* prevent jquery ui draggable position definition */
}
    .entity header {
        margin: 0;
        padding: 0;
    }

    .entity h3 {
        margin: 0;
        padding: 3px;
        text-align: center;
        cursor: move;
    }

    .entity .attributes {
        margin: 5px 0 0;
        padding: 0;
    }

    .entity .attributes .attribute {
        margin: 0;
        border-top: 1px solid #eaeaea;
        list-style-type: none;
        height: 28px;
    }

    .entity .attributes .attribute a.name {
        padding: 3px 0 3px 10px;
        display: inline-block;
        color: black;
        text-decoration: none;
        width: 90%;
        float: left;
        height: 1em;
        overflow: hidden;
    }

    .entity .attributes .attribute a.edit {
        width: 87%;
    }

    .entity .attributes .attribute a.remove-attribute {
        float: right;
        text-indent: -9999px;
        display: inline-block;

        margin: 11px 5px 0 0;
        background-color: #cacaca;
        float: right;
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }

    .entity .attributes .attribute:hover {
        background-color: #f6f6f6;
    }

    .entity .attributes .attribute:hover .remove-attribute {
        background-color: #ba0000;
    }

    .entity .attributes .attribute a span {
        color: gray;
        float: right;
        display: inline-block;
    }


    .entity .attribute-place-holder {
        height: 29px;
    }

    .attribute-form .foreign-key-details {
        display: none;
    }

    .entity footer {

    }

    .entity .action {
        display: block;
        padding: 2px 10px;
        text-decoration: none;
        background-color: #f4f4f4;
        color: black;
        border-top: 1px solid #e7e7e7;

    }

    .entity .action:hover {
        background-color: #e4e4e4;
    }

    .entity form {
        padding: 4px;
    }

    .entity form input {
        width: 185px;
    }

    .entity form label {
        display: inline-block;
        width: 100px;
    }



/* UI views */
.dialog {
    background-color: #f2fcfe;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-top: -170px;
    margin-left: -200px;
    z-index: 2;
    border: 6px solid #2894df;
    padding: 10px 30px;

    -webkit-box-shadow: -2px 6px 30px gray;
}

    .dialog h3 {
        background-color: #2894df;
        color: white;
        margin: -10px -30px 20px;
        padding: 2px 5px 5px 5px;
    }

    .dialog .anchor {
        display: inline-block;
        font-size: 17px;
        margin-bottom: 10px;
    }

    .dialog .close {
        background-color: #a4a4a4;
    }

    .dialog label {
        display: inline-block;
        width: 65px;
    }

    .dialog input + label {
        width: auto;
        margin-left: 5px;
    }

    .dialog .close {
        float: right;
        display: inline-block;
    }


/* Export  */

#export-list {
    margin: 10px 0;
    padding: 0;
    display: none;
    width: 200px;
    position: fixed;
    bottom: 50px;
    left: 134px;
    z-index: 2;
}

    #export-list li {
        margin: 5px 0;
        list-style-type: none;
    }

    #export-list li a {
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        width: 200px;
        background-color: #2894df;
    }

    #export-list li a:hover {
        background-color: orange;
        color: white;
    }

    .export-dialog {
        top: 50%;
        z-index: 4;
        position: fixed;
        width: 90%;
        left: 5%;
        margin-top: -300px;
    }

    .export-dialog h3 {
        background-color: #666666;
        margin: 0;
        padding: 2px 20px;
        color: #f0f0f0;
        float: left;
        font-size: 24px;
        line-height: 1.5em;
        font-weight: normal;
    }

    .export-dialog pre {
        height: 480px;
        overflow: auto;
        /*-webkit-box-shadow: -2px 6px 50px #696969;*/
    }

    .export-dialog a {
        float: right;
        text-align: center;
        background-color: #666666;
        margin-left: 10px;
    }

    .export-dialog a.close {
        width: 70px;
    }

    .export-dialog a.new-window {
        width: 150px;
    }


/* Help */

#help {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    z-index: 3;
}

    #help #help-content {
        border: 5px solid #ff9e08;
        background-color: white;
        padding: 10px;
        display: none;
    }

        #help #help-content h3 {
            padding: 3px;
            margin: 0;
        }

        #help #help-content ul {
            border-bottom: 1px dashed #e1e1e1;
            padding-bottom: 10px;
            margin: 0 0 5px;
        }

        #help #help-content ul:last-child {
            border: none;
        }

    #help #help-button {
        background-color: #ff9e08;
        width: auto;
        padding: 2px 30px;
        float: right;
    }


/* Notifications */

#notifications {
    position: fixed;
    width: 500px;
    top: -1px;
    left: 50%;
    margin-left: -200px;
    z-index: 2;
    -webkit-box-shadow: -2px 6px 30px #d5d5d5;
}

    #notifications .notification {
        background-color: #fff;
        padding: 15px 10px;
        text-align: center;
        font-size: 20px;
        color: #6a6a6a;
        border: 1px #dfdfdf solid;
        border-bottom-width: 0;
    }

    #notifications .notification:last-child {
        border-bottom-width: 1px;
    }



/* Document Detail specific definitions */
#document-show-view nav.tools {
    left: auto;
}

#document-show-view #export-list {
    left: auto;
    right: 60px;
}

#document-show-view .export-dialog pre {
    height: 450px;
}

#document-edit-view article#document nav.tools {
    left: 0;
    right: auto;
}


.fork-of {
    position: fixed;
    top: 10px;
}

    .fork-of a {
        width: 20px;
        display: inline-block;
        height: 30px;

    }

.fork-of + .document-title {
    text-indent: 15px;
}


/* Simple Grid Definitions */

.two-column {
    float: left;
    width: 50%;
    margin-top: 40px;
}

/* Github Login Definitions */

.github-login {
    /*margin-top: 40px;*/
    background: url(/static/images/octocat.png) no-repeat top center;
    height: 400px;
}

.github-login input[type="submit"] {
    display: inline-block;
    margin-top: 220px;
    margin-left: 165px;
}

hr.or {
    border: none;
    display: inline-block;
    position: absolute;
    left: 47%;
    top: 200px;
}
hr.or:after {
    content: "or";
    font-size: 40px;
    color: gray;
}

/* Stars */

.stars .gravatar {
    float: left;
    width: 120px;
    text-align: center;
    margin-top: 30px;
    color: #2894df;
    text-decoration: none;
}

    .stars .gravatar img {
        background-color: white;
        padding: 3px;
        border: 1px solid #bfdbf8;
    }

    .stars .gravatar span {
        display: block;
        text-align: center;
        margin-top: 3px;
    }


/* Comments */
#comments {
    width: 390px;
    background-color: #fff;
    position: fixed;
    bottom: -1px;
    right: 20px;
    z-index: 3;
    height: 600px;
    display: none;
    overflow: auto;
    -webkit-box-shadow: 0 0 30px #9d9d9d;
}

    #comments ul {
        padding: 0;
        margin: 0;
        height: 505px;
        overflow: auto;
    }

        #comments ul li {
            list-style-type: none;
            padding: 10px 15px;
            font-size: 15px;
            overflow: hidden;
            border-bottom: 1px dotted #d5eaf9;
        }

        #comments ul li p {
            float: left;
            margin: 0;
            padding: 2px 10px;
            width: 82%;
        }

        #comments ul li .username {
            display: block;
            color: #2894df;
        }

        #comments ul li .gravatar {
            float: left;
            width: 10%;
            margin-top: 6px;
        }

    #comments form {
        margin: 15px;
    }

        #comments form #id_body {
            padding: 10px;
            border: 1px solid #d5eaf9;
            width: 240px;
            height: 44px;
            float: left;
        }

        #comments form .anchor {
            float: left;
            margin-top: 3px;
            margin-left: 5px;
            font-size: 18px;
            width: 92px;
            padding: 2px;
        }

        #comments form .close {
            margin-top: 0;
            background-color: #a9a9a9;
        }

        #comments .no-comment {
            background-color: #fafafa;
            display: none;
            padding: 15px 0 13px;
            width: 100%;
            text-align: center;
            position: absolute;
        }

        #comments .delete {
            display: block;
            color: #b4b4b4;
        }

        #comments #anonymous-user {
            position: absolute;
            z-index: 2;
            width: 370px;
            height: 70px;
            padding-top: 10px;
            background-color: rgba(255, 255, 255, 0.32);
        }

        #comments #anonymous-user p {
            margin: 0;
        }

        #comments .blury {
            filter: blur(3px);
            -webkit-filter: blur(3px);
        }

.dashboard {
    width: 960px;
    margin: auto;
}




#timeline {
    margin: -6px 0 0 -7px;
}

    #timeline:before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #2894df;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        margin-left: 120px;
        margin-top: -3px;
        box-shadow: 0 0 0 7px #fff,
                    0 0 0 8px #2894df;
    }

    #timeline h2 {
        position: absolute;
        margin-left: 155px;
        margin-top: -20px;
        color: #636363;
        font-size: 23px;
    }

    #timeline h5 {
        position: absolute;
        font-size: 19px;
        font-weight: normal;
        margin-left: 170px;
        margin-top: 15px;
    }

        #timeline h5 a {
            color: #2894df;
            text-decoration: underline;
        }

        #timeline h5 + .stripe {
            padding-top: 40px;
        }

    #timeline .newsfeed {
        margin-top: 20px;
        width: 550px;
        min-height: 500px;
    }

    #timeline .empty {
        margin: 30px 40px;
        color: #686868;
    }

    #timeline .stripe {
        border-left: 1px dotted #2894df;
        margin-left: 124px;
        padding-top: 20px;
    }

        #timeline .entry {
            clear: both;
        }

            #timeline article {
                margin-top: 12px;
                margin-left: 42px;
                float: left;
                background-color: white;
                width: 480px;
                box-shadow: 0 0 5px #c7c7c7;
                border-left: 5px solid #2894df;
                margin-bottom: 40px;
            }

                #timeline article h3 {
                    margin: 0;
                    padding: 6px 15px 0;
                    font-weight: normal;
                    letter-spacing: -1px;
                    color: #b0b0b0;
                    font-size: 24px;
                }

                    #timeline article h3 a {
                        color: #838383;
                        text-decoration: none;
                        border-bottom: 1px dotted #d7d7d7;
                    }

                #timeline article h4 {
                    margin: 2px 14px;
                    padding: 0;
                    font-weight: normal;
                }

                    #timeline article h4 a {
                        font-size: 20px;
                        text-decoration: none;
                        color: #848484;
                    }

                    #timeline article h4 a:before {
                        content: '“';
                        color: #bababa;
                        margin-right: 2px;
                    }

                    #timeline article h4 a:after {
                        content: '”';
                        color: #bababa;
                        margin-left: 2px;
                    }

                    #timeline article blockquote {
                        font-size: 20px;
                        margin: 2px 20px 3px 35px;
                        padding: 0;
                        color: #848484;
                        letter-spacing: 0;
                        line-height: 25px;
                    }

                    #timeline article blockquote:before,
                    #timeline article blockquote:after
                    {
                        content: '“';
                        color: #bababa;
                        font-size: 60px;
                        position: absolute;
                        margin-top: 13px;
                        margin-left: -24px;
                    }

                    #timeline article blockquote:after {
                        content: '”';
                        margin-top: 19px;
                        margin-left: 4px;
                    }

                #timeline article time {
                    color: gray;
                    display: block;
                    padding: 3px 15px 10px;
                }

                #timeline article time a {
                    color: gray;
                    text-decoration: none;
                }

                #timeline article:before {
                    content: "";
                    text-indent: -9999px;
                    display: inline-block;
                    position: absolute;
                    margin-left: -15px;
                    margin-top: 20px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 12px 15px 12px 0;
                    border-color: transparent #2894df transparent transparent;

                }

            #timeline aside {
                float: left;
                margin-top: 2px;
                margin-left: -117px;
                border: 8px solid #f4f4f4;
                border-radius: 50%;

            }

            #timeline aside:hover {
                box-shadow: 0 0 10px #acacac;
            }

                #timeline aside img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                }

            #timeline aside:before {
                content: "";
                border-radius: 50%;
                width: 30px;
                height: 30px;
                text-indent: -9999px;
                display: inline-block;
                position: absolute;
                margin-top: 18px;
                margin-left: 94px;
                background: url(/static/images/timeline-icons.png) top left #2894df;
            }

            #timeline aside:after {
                z-index: -1;
                content: "";
                position: absolute;
                display: inline-block;
                width: 87px;
                height: 1px;
                border-top: 1px dotted #7dc8d8;
                margin-left: 60px;
                margin-top: -36px;
            }

            /* Timeline Icons */
            #timeline .entry.following aside:before,
            #timeline .entry.registration aside:before {
                background-position: 3px 4px;
            }

            #timeline .entry.comment aside:before {
                background-position: -22px 5px;
            }

            #timeline .entry.document aside:before {
                background-position: -47px 5px;
            }

            #timeline .entry.fork aside:before {
                background-position: -73px 4px;
            }

            #timeline .entry.star aside:before {
                background-position: -97px 3px;
            }


/* Profile details */

#profile {
    margin-top: 26px;
}

    #profile aside {
        width: 172px;
        float: left;
    }

    #profile aside .profile-image img {
        margin-top: -5px;
        border: 1px solid #e6e6e6;
        padding: 5px;
        background-color: white;
    }

    #profile aside h3 {
        padding: 1px;
        margin: 10px 2px;
        font-size: 25px;
        font-weight: normal;
        text-align: center;
    }


    #profile aside .following {
        margin: 0 0 0 10px;
        padding: 0 0 10px;
        overflow: hidden;
    }

    #profile aside .following li {
        float: left;
        list-style: none;

        margin: 4px 5px;
        padding: 0;
    }

        #profile aside .following li img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: none;
            padding: 0;
        }

        #profile aside h2 {
            font-size: 20px;
            font-weight: normal;
            text-align: center;
            padding: 0;
            margin: 20px 0 2px;
        }

    #profile nav.actions {
        margin: 10px 0;
    }

    #profile nav.actions a {
        display: block;
        padding: 5px;
        text-align: center;
        font-size: 20px;
    }

    #profile .documents {
        width: 70%;
        float: left;
        margin-left: 60px;
    }



/* User Notifications */

ul.notification-list {
    margin: 0;
    padding: 0;
}

ul.notification-list li {
    margin: 10px 2px;
    overflow: hidden;
        list-style-type: none;
    }


        ul.notification-list li a {
            text-decoration: none;
            color: #6a6e74;
            font-size: 20px;
            margin-left: 10px;
        }

        ul.notification-list li img {
            float: left;
            margin-left: 4px;
            width: 80px;
            height: 80px;
        }

        ul.notification-list li span {
            float: left;
            width: 76%;
            margin-left: 9px;
        }

        ul.notification-list li time {
            display: block;
            margin-left: 95px;
            color: #9e9e9e;
        }

header h1 a#user-notifications-button {
    display: block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 3px solid #b7e8fa;
    position: absolute;
    margin-top: -44px;
    margin-left: 257px;
    border-radius: 40%;
}

    header h1 a#user-notifications-button span {
        font-size: 19px;
        height: 27px;
        width: 25px;
        text-align: center;
        display: block;
        margin-top: -7px;
        margin-left: -3px;
        background-color: #e7003a;
        color: #fff;
        border-radius: 7px;

    }


#user-notifications {
    width: 400px;
    position: absolute;
    background-color: #fff;
    margin-top: 70px;
    margin-left: 95px;
    padding-left: 10px;
    z-index: 1;
    border: 3px solid #2894df;
    box-shadow: 0 3px 10px #a0a0a0;
    border-radius: 10px;
    display: none;
}

#user-notifications:before {
    content: "";
    text-indent: -9999px;
    display: block;
    position: absolute;
    margin-left: 147px;
    margin-top: -13px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #2894df;
}

    #user-notifications section {
        color: gray;
        padding: 10px 0;
    }

    #user-notifications footer {
        background-color: #2894df;
        margin-left: -10px;
        padding: 6px 10px;
    }

    #user-notifications footer a {
        color: white;
        text-decoration: none;
        display: block;
        text-align: center;
    }

/* Pagination */

.load-more {
    clear: both;
    padding: 0 0 40px 50px;
    z-index: 10;
    width: 160px;
}


/* Sidebar */

aside#sidebar {
    margin-top: 28px;
    width: 268px;
    position: absolute;
    margin-left: 690px;
}

    aside#sidebar h2 {
        font-weight: normal;
        color: #5d5d5d;
        padding: 0;
        margin-left: 3px;
        margin-bottom: 0;
    }

    aside#sidebar #search-form {
        margin-top: -10px;
        margin-left: 5px;
    }

        aside#sidebar #search-form #id_keyword {
            padding: 7px;
        }
        aside#sidebar #search-form .button {
            margin-top: -5px;
            font-size: 20px;
        }

    aside#sidebar #search-form label {
        display: none;
    }

    aside#sidebar #document-tabs {
        position: relative;
        padding-top: 10px;
    }

        aside#sidebar #document-tabs section ul li {
            list-style-type: none;
            border-bottom: 1px dotted #e4e4e4;
            margin-left: -10px;
            padding: 5px 7px;
            height: 20px;
            overflow: hidden;
        }

        aside#sidebar #document-tabs section ul li a {
            color: #5d5d5d;
            text-decoration: none;
        }
        aside#sidebar #document-tabs section ul li a.author {
            color: #ababab;
        }


/* Search Results */

.search-result {
    padding-left: 190px;
}

.search #search-form {
    margin: 0;
}

    .search #search-form .button {
        margin-left: 0;
    }


/* Tabs */

article.tabs nav ul {
    overflow: hidden;
    /*background-color: rgba(236, 246, 248, 0.15);*/
}
    article.tabs nav ul li {
        display: block;
        float: left;
        padding: 5px 10px 0;
        margin: 5px 0 0 5px;
        z-index: 3;
    }

    article.tabs nav ul:first-child {
        margin-left: 15px;
    }

    article.tabs nav ul .active {
        background-color: white;
        box-shadow: 0 0 5px #c9c9c9;
    }

    article.tabs nav ul li a {
        text-decoration: none;
        color: #5a5f60;
        font-size: 20px;
    }

    article.tabs nav ul .active a {
        color: #2894df;
    }

article.tabs section {
    box-shadow: 0 0 3px #c9c9c9;
    display: none;
    background-color: white;
    margin-bottom: -1px;
    padding-bottom: 10px;
}

    article.tabs nav + section {
        display: block;
    }

    article.tabs section ul {
        margin: 0;
        padding: 10px 20px;
    }


/* New document form */

.new-document ul {
    padding: 0 20px;
}

    .new-document p.buttons {
        border-top: 1px solid #c6c6c6;
        background-color: rgba(247, 247, 247, 0.8);
        padding-bottom: 20px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .new-document ul li {
        list-style-type: none;
    }

    .new-document input[type="submit"] {
        margin-top: 10px;
        margin-left: 10px;
    }


/* News */

ul.news {
    background-color: rgba(95, 245, 227, 0.22);
    padding: 10px 10px;
    font-size: 17px;
}
    .news li {
        list-style-type: none;
    }

/* Blog */

article.post {
    margin-top: 20px;
    padding-top: 10px;
}

    article.post aside {
        overflow: hidden;
    }

    article.post time {
        font-size: 25px;
        color: #fff;
        letter-spacing: -1px;
        background-color: #ff9e08;
        padding: 4px 10px;
        float: left;
    }

    article.post h3 {
        margin: -5px 0 0;
        font-size: 35px;
        letter-spacing: -1px;
        background-color: #f6f6f6;
        padding: 3px 20px;
        display: inline-block;

    }

        article.post h3 a {
            color: #5b5b5b;
            text-decoration: none;
        }

    article.post section {
        font-size: 20px;
        width: 550px;
        background-color: white;
        padding: 0 10px;
        margin: 0;

    }

        article.post section p {
            padding: 20px 20px 10px 10px;
            margin: 0;
            color: #717171;
            line-height: 28px;
            word-spacing: -0.05em;
            font-size: 16px;
        }

    article.comments {
        margin-top: 20px;
        background-color: white;
        padding: 15px 10px;

    }

/* Donation */

aside.donation {
    position: absolute;
    width: 250px;
    padding: 20px 20px 14px;
    background-color: white;
    margin-left: 620px;
    margin-top: 170px;
    border: 3px solid #f6f6f6;
    line-height: 23px;
}

    aside.donation h3 {
        display: inline-block;
        margin: -10px 0 0 0;
        padding: 3px 2px;
        color: #5b5b5b;
        font-weight: bold;
    }

    aside.donation p {
        margin: 0;
        padding: 4px;
        color: gray;
    }

    aside.donation form {
        margin: 0;
        padding: 3px;
    }

    aside.donation .donate {
        background-color: #ff9e08;
        border: none;
        padding: 5px 10px;
        float: right;
        margin-top: -10px;
    }

    aside.donation .donate:hover {
        cursor: pointer;
        box-shadow: 0 0 10px #d3d3d3;
        background-color: #717171;
    }

/* jsPlumb */

._jsPlumb_overlay {
    z-index: 1;
    color: #848484;
}

/* Social Links */

.twitter-share-button {
    float: right;
    margin-right: -17px;
    margin-top: 4px;
}

