body {
    background-image: url("/static/images/background.png");
    margin: 0;
    color: #565656;
}

    body header#banner, .content {
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
    }

    header h1 {
        /*background: url("/static/images/dbpatterns-logo.png") no-repeat;*/
        margin: 0;
        padding: 0;
        text-align: left;
        float: left;
        width: 300px;
        font-weight: normal;
        font-size: 55px;
        letter-spacing: -1px;
    }

    header h1 a {
        color: #d8d8d8;
        text-decoration: none;
    }

    header h1 span {
        color: #2894df;
    }

    header nav {

    }

    header nav ul li {
        float: right;
        margin-left: 20px;
        margin-top: 20px;
    }

    header nav ul li a, .anchor, .button {
        display: block;
        padding: 2px 20px;
        background-color: #2894df;
        color: white;
        text-decoration: none;
        font-size: 24px;
        line-height: 1.5em;
        border: none;
        cursor: pointer;
    }

    header nav ul li a:hover, .anchor:hover, .button:hover {
        background-color: #268dd5;
    }

    header nav ul li a:active, .anchor:active, .button:active {
        background-color: #2485c9;
    }

    section.landing {
        font-size: 20px;

    }

    section cite {
        text-decoration: underline;
        font-style: normal;
    }

    section.latest {
        margin-top: 30px;
        margin-bottom: 50px;
        overflow: hidden;
    }

    section h2 {
        font-size: 29px;
        font-weight: normal;
        color: #5d605d;
        margin: 0 2px;
        padding: 5px 0;
        text-align: center;
    }


/* Footer */
body > footer {
    background-color: #2894DF;
    width: 960px;
    padding: 10px;
    color: #fff;
    margin: 40px 0 0 -480px;
    font-size: 16px;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 50%;
}

    body > footer a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid white;
        padding-bottom: 1px;
        display: inline-block;
    }

    body> footer a.feedback {
        float: right;
        margin-right: 10px;
    }


/* Documents */
article#document {

}

    article#document h1 {
        float: left;
        width: 50%;
        font-size: 40px;
        margin-top: 14px;
        color: #707070;
        margin-left: 20px;
    }

    #document-edit-view header, #document-show-view header  {
        width: 100% !important;
    }

    article#document nav.tools {
        position: fixed;
        bottom: 20px;
        left: 0;
        z-index: 2;
    }

    article#document nav.leave {
        float: right;
        margin-right: 20px;
    }


.content form {
    padding: 30px;
    font-size: 20px;

    margin: auto;
}

    .content form label {
        display: inline-block;
        width: 150px;
    }

    .content form .helptext {
        color: gray;
        display: block;
        margin-left: 150px;
        padding: 2px 5px;
    }

    .content input {
        padding: 2px 4px;
    }

    .content input[type='submit'] {
        margin-left: 240px;
        padding: 2px 10px;
        background-color: #2485c9;
        color: white;
        border: 1px solid #227fc1;
    }

    .content input[type='submit']:active {
        background-color: #1f70a9;
    }

    .content form .errorlist {
        margin: 0;
        padding: 0;
    }

    .content form .errorlist li {
        margin: 0 0 -22px;
        padding: 0;
        list-style-type: none;
        color: red;
    }


.documents ul {
    margin-left: 10px;
    padding: 0;
}

.documents ul li {
        list-style-type: none;
        font-size: 18px;
        padding: 4px 10px 0 10px;
        border-left: 8px solid #e9e8f1;
        margin-bottom: 30px;

    }

    .documents ul li a {
        text-decoration: none;
        font-size: 25px;
        color: #414141;
    }


    .documents .info {
        padding: 2px 0;
        margin-left: 0;
        color: gray;
    }

    .documents .info a {
        color: #2485c9;
        font-size: 20px;
        display: inline-block;
        margin-right: 10px;
    }

/* ICONS */
.icon {
    display: inline-block;
    padding-left: 30px;
    background: url("/static/images/icons.png") no-repeat;
    color: #2485c9;
    text-decoration: none;
}

    .fork {
        background-position: 0 -45px;
    }

    .star {
        background-position: 0 -8px;
        padding-left: 35px;
    }

.document-preview {
    margin: 20px 35px 40px 10px;
    width: 270px;
    padding: 0;

    float: left;
    /*border-right: 3px solid #2485c9;*/
}

    .document-preview a {
        color: #2485c9;
        text-decoration: none;
    }

    .document-preview h4 {
        font-size: 20px;
        text-align: left;
        margin: 0 2px 2px;
        letter-spacing: -1px;
    }

    .document-preview .entity-list {
        height: 155px;
    }

    .document-preview .entity-preview {
        float: left;
        margin: 30px 4px 0 20px;
        width: 160px;
        font-size: 14px;
        background-color: white;
        padding: 0;
        border: 1px solid #eaeaea;
        height: 120px;
        overflow: hidden;
        position: absolute;
        /*-webkit-box-shadow: -1px 0 2px gray;*/
        color: gray;

    }

    .document-preview .entity-preview:first-of-type {
        margin-top: 5px;
        margin-left: 0;
    }

    .document-preview .entity-preview:nth-child(2) {
        margin-top: 30px;
    }

    .document-preview .entity-preview:nth-child(3) {
        margin-top: 53px;
        margin-left: 40px;
    }

    .document-preview .entity-preview li {
        list-style-type: none;
        margin: 0;
        padding: 2px 5px;
    }

    .document-preview .entity-preview .name {
        font-weight: bold;
        overflow: hidden;
        color: #5b5b5b;

    }

    .document-preview .gravatar {
        position: absolute;
        margin-top: 135px;
        margin-left: 130px;
        -webkit-box-shadow: 0 0 2px gray;
    }

    .document-preview .gravatar img {
        background-color: white;
        padding: 3px;
    }

    .document-preview .document-info {
        margin-top: 25px;
        margin-left: 40px;
        width: 100px;
    }

    .document-preview .document-info .icon {
        padding-left: 35px;
    }



/* PROFILES */

.profile {
    width: 300px;
    bottom: 15px;
    position: fixed;
    z-index: 2;
    height: 110px;
    margin-left: 20px;
}

    .profile .image {
        padding: 10px;
        background-color: #2894df;
        float: left;
    }

    .profile .image img {
        border: 1px solid #195c8a;
    }

    .profile .info {
        float: left;
        margin: 31px 0 0;
    }

    .profile .info span {
        display: inline-block;
        padding-left: 5px;
        font-size: 20px;
        color: #4d4d4d;
    }

    .profile h4 {
        margin: 0;
        padding: 5px 20px 5px 0;
        background-color: #2894df;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
    }

    .profile h4 a {
        text-decoration: none;
        color: white;
    }

    #profile-detail .fork {
        margin-left: -13px;
    }


/*
* ENTITIES
*/

#entities {
    position: relative;
}

.entity {
    z-index: 1;
    font-size: 16px;

    background-color: #fff;
    width: 200px;
    border: 1px solid #d5d5d5;
    color: #505050;
    margin-bottom: 10px;

    position: absolute !important; /* prevent jquery ui draggable position definition */
}

    .entity header {
        margin: 0;
        padding: 0;
    }

    .entity h3 {
        margin: 0;
        padding: 3px;
        text-align: center;
        cursor: move;
    }

    .entity .attributes {
        margin: 5px 0 0;
        padding: 0;
    }

    .entity .attributes .attribute {
        margin: 0;
        border-top: 1px solid #eaeaea;
        list-style-type: none;
        height: 28px;
    }

    .entity .attributes .attribute a.name {
        padding: 3px 0 3px 10px;
        display: inline-block;
        color: black;
        text-decoration: none;
        width: 90%;
        float: left;
    }

    .entity .attributes .attribute a.edit {
        width: 87%;
    }

    .entity .attributes .attribute a.remove-attribute {
        float: right;
        text-indent: -9999px;
        display: inline-block;

        margin: 11px 5px 0 0;
        background-color: #cacaca;
        float: right;
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }

    .entity .attributes .attribute:hover {
        background-color: #f6f6f6;
    }

    .entity .attributes .attribute:hover .remove-attribute {
        background-color: #ba0000;
    }

    .entity .attributes .attribute a span {
        color: gray;
        float: right;
        display: inline-block;
    }


    .entity .attribute-place-holder {
        height: 29px;
    }

    .attribute-form .foreign-key-details {
        display: none;
    }

    .entity footer {

    }

    .entity .action {
        display: block;
        padding: 2px 10px;
        text-decoration: none;
        background-color: #f4f4f4;
        color: black;
        border-top: 1px solid #e7e7e7;

    }

    .entity .action:hover {
        background-color: #e4e4e4;
    }

    .entity form {
        padding: 4px;
    }

    .entity form input {
        width: 185px;
    }

    .entity form label {
        display: inline-block;
        width: 100px;
    }



/* UI views */
.dialog {
    background-color: #f2fcfe;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-top: -170px;
    margin-left: -200px;
    z-index: 2;
    border: 6px solid #2894df;
    padding: 10px 30px;

    -webkit-box-shadow: -2px 6px 30px gray;
}

    .dialog h3 {
        background-color: #2894df;
        color: white;
        margin: -10px -30px 20px;
        padding: 2px 5px 5px 5px;
    }

    .dialog .anchor {
        display: inline-block;
        font-size: 17px;
        margin-bottom: 10px;
    }

    .dialog .close {
        background-color: #a4a4a4;
    }

    .dialog label {
        display: inline-block;
        width: 65px;
    }

    .dialog input + label {
        width: auto;
        margin-left: 5px;
    }

    .dialog .close {
        float: right;
        display: inline-block;
    }


/* Export  */

#export-list {
    margin: 10px 0;
    padding: 0;
    display: none;
    width: 200px;
    position: fixed;
    bottom: 50px;
    left: 134px;
    z-index: 2;
}

    #export-list li {
        margin: 5px 0;
        list-style-type: none;
    }

    #export-list li a {
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        width: 200px;
        background-color: #2894df;
    }

    #export-list li a:hover {
        background-color: orange;
        color: white;
    }

    .export-dialog {
        margin-top: 10px;
        top: auto;
        z-index: 4;
        position: fixed;
        width: 90%;
        left: 5%;
    }

    .export-dialog h3 {
        background-color: #666666;
        margin: 0;
        padding: 2px 20px;
        color: #f0f0f0;
        float: left;
        font-size: 24px;
        line-height: 1.5em;
        font-weight: normal;
    }

    .export-dialog pre {
        height: 480px;
        overflow: auto;
        -webkit-box-shadow: -2px 6px 50px #696969;
    }

    .export-dialog a {
        float: right;
        text-align: center;
        background-color: #666666;
        margin-left: 10px;
    }

    .export-dialog a.close {
        width: 70px;
    }

    .export-dialog a.new-window {
        width: 150px;
    }


/* Help */

#help {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    z-index: 1;
}

    #help #help-content {
        border: 5px solid #ff9e08;
        background-color: white;
        padding: 10px;
        display: none;
    }

        #help #help-content h3 {
            padding: 3px;
            margin: 0;
        }

        #help #help-content ul {
            border-bottom: 1px dashed #e1e1e1;
            padding-bottom: 10px;
            margin: 0 0 5px;
        }

        #help #help-content ul:last-child {
            border: none;
        }

    #help #help-button {
        background-color: #ff9e08;
        width: auto;
        padding: 2px 30px;
        float: right;
    }


/* Notifications */

#notifications {
    position: fixed;
    width: 500px;
    top: -1px;
    left: 50%;
    margin-left: -200px;
    z-index: 2;
    -webkit-box-shadow: -2px 6px 30px #d5d5d5;
}

#notifications .notification {
    background-color: #fff;
    padding: 15px 10px;
    text-align: center;
    font-size: 20px;
    color: #6a6a6a;
    border: 1px #dfdfdf solid;
    border-bottom-width: 0;
}

#notifications .notification:last-child {
    border-bottom-width: 1px;
}


/* Document Detail specific definitions */
#document-show-view nav.tools {
    left: auto;
    right: 20px;
}

#document-show-view #export-list {
    left: auto;
    right: 60px;
}

#document-show-view .export-dialog pre {
    height: 450px;
}


/* jsPlumb */

._jsPlumb_overlay {
    z-index: 1;
}

