body {
    background-image: url("/static/images/background.png");
    width: 960px;
    margin: 0 auto;
}

header {
    margin-top: 40px;
    overflow: hidden;
}

header h1 {
    /*background: url("/static/images/dbpatterns-logo.png") no-repeat;*/
    margin: 0;
    padding: 0;
    text-align: left;
    float: left;
    width: 300px;
    color: #bbbbbb;
    font-weight: normal;
    font-size: 55px;
}

header h1 span {
    color: #2894df;
}

nav {

}

nav ul li {
    float: right;
    margin-left: 20px;
    margin-top: 20px;
}

nav ul li a {
    display: block;
    padding: 2px 20px;
    background-color: #2894df;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

section.landing {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 20px;

}

cite {
    text-decoration: underline;
    font-style: normal;
}

section.latest {
    margin-top: 30px;
}

section h2 {
    font-size: 22px;
    font-weight: bold;
    color: #081f2f;
    margin: 0 2px;
    padding: 5px 0;
}

.document-preview {
    margin: 0 10px 5px 0;
    width: 200px;
    padding: 10px 2px;
    height: 200px;
    overflow: hidden;
    float: left;
}
.document-preview h4 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 5px;
}

.document-preview .entity-preview {
    float: left;
    margin: 5px 4px 0 0;
    width: 40%;
    font-size: 12px;
    background-color: white;
    padding: 4px;
    border: 1px solid #dddddd;
}

.document-preview .entity-preview li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.document-preview .entity-preview .name {
    font-weight: bold;
}

/*
* ENTITIES
*/

.entity {
    z-index: 1;

    background-color: #fff;
    width: 200px;
    border: 1px solid #d5d5d5;
    color: #505050;
    margin-bottom: 10px;

    position: absolute !important; /* prevent jquery ui draggable position definition */
}

#entities {
    position: relative;
}

.entity header {

}

.entity h3 {
    margin: 0;
    padding: 3px;
    text-align: center;
    cursor: move;
}

.entity .attributes {
    margin: 5px 0 0;
    padding: 0;
}

.entity .attributes .attribute {
    margin: 0;
    border-top: 1px solid #eaeaea;
    list-style-type: none;
}

.entity .attributes .attribute a {
    padding: 3px 10px;
    display: block;
    color: black;
    text-decoration: none;
}

.entity .attributes .attribute a:hover {
    background-color: #f6f6f6;
}

.entity .attributes .attribute a span {
    color: gray;
    float: right;
    display: inline-block;
}

.entity .attributes .attribute a em {
    background-color: #cacaca;
    float: right;
    width: 7px;
    height: 7px;
    display: inline-block;
    margin: 8px -5px 0 5px;
    border-radius: 50%;
}

.entity footer {

}

.entity .action {
    display: block;
    padding: 2px 10px;
    text-decoration: none;
    background-color: #f4f4f4;
    color: black;
    border-top: 1px solid #e7e7e7;

}

.entity .action:hover {
    background-color: #e4e4e4;
}

.entity form {
    padding: 4px;
}

.entity form input {
    width: 185px;
}

canvas {
    position: absolute; width: 100%; height: 100%; overflow: hidden;
}

.ui-widget {
    font-size: 13px !important;
}

form label {
    display: inline-block;
    width: 100px;
}

.hidden {
    display: none;
}

._jsPlumb_overlay {
    z-index: 1;
}

.attribute-place-holder {
    height: 27px;
}