{% extends "documents/base.html" %}
{% load compress %}

{% block extra-head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/autocomplete.css" />
{% endblock %}

{% block content %}

    <article id="document">
        <header role="banner" id="banner">
            {% block tools %}
                <nav class="tools">
                    <ul>
                        <li><a href="#" class="new-entity">New entity</a></li>
                        <li><a href="#export-list" data-toggle="true">Export</a></li>
                        <li><a href="#" class="save-document">Save</a></li>
                    </ul>
                </nav>
            {% endblock %}
            {% block app-header %}
            {% if edit %}
            <h2 class="edit-document"><a class="icon gear" href="#edit">settings</a></h2>
            {% endif %}
            <h1 class="{% if edit %}edit-title{% endif %} document-title">{{ document.title }}</h1>
            {% endblock %}
            <nav class="leave">
                {% block nav %}
                    <ul>
                        <li><a href="{% url my_documents %}">Back to list</a></li>
                    </ul>
                {% endblock %}
            </nav>

        </header>

        <div id="entities"></div>

        <div id="notifications"></div>

        <ul id="export-list">
            {% for key, label in exporters %}
                <li><a target="_blank" class="export" href="{% url export_document document.pk key %}">{{ label }}</a></li>
            {% endfor %}
        </ul>

        <div id="comments">
            <div class="info no-comment">There are no comments yet.</div>
        </div>

    </article>


    <!-- templates -->

    {% block app %}

        <script type="text/html" id="message-template">
        <strong><%= _.escape(username) %>:</strong> <%= _.escape(body) %>
        </script>

        <script type="text/html" id="assignee-item-template">
            <div class="info">
                <img src="<%= avatar %>">
                <span><%= username %></span>
            </div>
            <div class="actions">
                <select class="permission">
                    <option value="can_view">Can View</option>
                    <option value="can_edit">Can Edit</option>
                </select>
                <a href="#" class="remove">Remove</a>
            </div>
        </script>

        <script type="text/html" id="assignees-template">
            <div class="assignees">
                <ul class="users">

                </ul>
                <p class="add-people">
                    <label for="user">Add people</label>
                    <input type="text" id="user" placeholder="Enter a name or email...">
                </p>
            </div>
        </script>

        <script type="text/html" id="document-edit-template">
            <form>
                <p>
                    <label for="name">Title</label>
                    <input type="text" name="title" id="title">
                </p>
                <p>
                    <label>The visibility of document</label>
                    <label for="is_public">
                        <input type="radio" name="is_public" value="true" id="is_public"> Public
                    </label>
                    <label for="is_private">
                        <input type="radio" name="is_public" value="false" id="is_private"> Private
                    </label>
                </p>

                <p>
                    <label>People who have access</label>
                    <input type="text" name="assignees" id="assignees">
                </p>

                <footer>
                    <input type="submit" class="anchor save" value="Save" >
                    <input type="button" class="anchor close" value="Close" >
                </footer>
            </form>
        </script>

        <script type="text/html" id="comment-form-template">
            {% if user.is_anonymous %}
            <div id="anonymous-user">
                <p>Please login to leave comment.</p>
                <a href="{% url auth_login %}">Login</a>
                <a href="{% url auth_registration %}">Register</a>
            </div>
            {% endif %}
            <fieldset{% if user.is_anonymous %} class="blury"{% endif %}>
                <textarea name="body" id="id_body" placeholder="Write a comment"></textarea>
                <input type="button" value="Close" class="anchor close">
                <input type="submit" value="Send" class="anchor">
            </fieldset>
        </script>

        <script type="text/html" id="comment-item-template">
            <a href="<%= profile_url %>" class="gravatar"><img src="<%= avatar_url %>" /></a>
            <p>
                <a href="<%= profile_url %>" class="username"><%= _.escape(username) %></a> <%= _.escape(body) %>
                <% if (has_delete_permission) { %>
                <a href="#" class="delete">delete</a>
                <% } %>
            </p>
        </script>

        <script type="text/html" id="attribute-form-template">
            <form action="#" class="attribute-form">
                <p>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </p>

                <p>
                    <label for="type">Type</label>
                    <select name="type" id="type">
                        {% for type, label in FIELD_TYPES %}
                        <option value="{{ type }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </p>

                <p>
                    <input type="checkbox" name="is_primary_key" value="true" id="is_primary_key">
                    <label for="is_primary_key"> Primary key</label>
                </p>

                <p>
                    <input type="checkbox" name="is_foreign_key" value="true" id="is_foreign_key">
                    <label for="is_foreign_key">Foreign key</label>
                </p>

                <p class="foreign-key-details">
                    <label for="name">Entity</label>
                    <input type="text" name="foreign_key_entity" id="foreign_key_entity">
                </p>

                <p class="foreign-key-details">
                    <label for="name">Attribute</label>
                    <input type="text" name="foreign_key_attribute" id="foreign_key_attribute">
                </p>


                <input type="submit" class="anchor save" value="Save" >
                <input type="button" class="anchor close" value="Close" >

            </form>
        </script>

        <script type="text/html" id="attribute-list-template">
            <section class="attributes"></section>
            {% if edit %}<a href="#" class="action new-attribute">new attribute</a>{% endif %}
        </script>

        <script type="text/html" id="attribute-template">
            <a href="#" class="name {% if edit %}edit{% endif %}"><%= _.escape(name) %> <span><%= _.escape(type) %></span></a>
            {% if edit %}<a href="#" class="remove-attribute" title="remove attribute">delete</a>{% endif %}
        </script>

        <script type="text/html" id="entity-template">
            <header>
                <h3><%= _.escape(name) %></h3>
            </header>
            <section class="attributes"></section>

            <footer>
                {% if edit %}<a href="#" class="action remove-entity">remove entity</a>{% endif %}
            </footer>

        </script>

        <script type="text/html" id="dialog-template">
        <h3><%= _.escape(title) %></h3>
        </script>

        <script type="text/html" id="export-dialog-template">
            <h3><%= _.escape(title) %></h3>
            <pre class="prettyprint"><code><%= _.escape(code) %></code></pre>
            <a href="#" class="anchor close">Close</a>
            <a href="#" class="anchor new-window">Plain version</a>
        </script>

{% endblock %}

{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        // underscore.string mixin
        _.mixin(_.string.exports());
    </script>

    <!-- namespaces -->
    <script type="text/javascript">
        var dbpatterns = {
            models: {},
            collections: {},
            views: {},
            notifications: {}
        };
        _.extend(dbpatterns.notifications, Backbone.Events);
    </script>

    <!-- app  -->
    {% compress js %}
    <script src="{{ STATIC_URL }}js/models/document.js"></script>
    <script src="{{ STATIC_URL }}js/models/entity.js"></script>
    <script src="{{ STATIC_URL }}js/models/attribute.js"></script>
    <script src="{{ STATIC_URL }}js/models/comment.js"></script>
    <script src="{{ STATIC_URL }}js/models/assignee.js"></script>
    <script src="{{ STATIC_URL }}js/models/chat.js"></script>

    <!-- views -->
    <script src="{{ STATIC_URL }}js/views/ui.js"></script>
    <script src="{{ STATIC_URL }}js/views/document.js"></script>
    <script src="{{ STATIC_URL }}js/views/entity.js"></script>
    <script src="{{ STATIC_URL }}js/views/attribute.js"></script>
    <script src="{{ STATIC_URL }}js/views/connection.js"></script>
    <script src="{{ STATIC_URL }}js/views/comment.js"></script>
    <script src="{{ STATIC_URL }}js/views/notifier.js"></script>
    <script src="{{ STATIC_URL }}js/views/user.js"></script>
    <script src="{{ STATIC_URL }}js/views/chat.js"></script>
    {% endcompress %}

    <!-- bootstrap -->
    <script type="text/javascript">
        $(function () {

            // load notifier view.
            new dbpatterns.views.Notifier();

            // create a new document instance with resource uri.
            var document = new dbpatterns.models.Document({
                "resource_uri": "{{ document.get_resource_uri }}"
            }, {
                "socket_uri": "{{ SOCKETIO_HOST }}",
                "use_websocket": {{ edit|yesno:"true,false" }}
            });

            // load document view.
            new dbpatterns.views.Document({
                "model": document,
                "edit": {{ edit|yesno:"true,false" }}
            });

            // retrieve document by the provided resource uri.
            document.fetch({
                success: function () {
                    document.trigger("load");
                }
            });

            {% if edit %}
            // connect to the live server
            document.socket.emit("connect", {
                "document_id": "{{ document.id }}",
                "username": "{{ user.username }}"
            });
            {% endif %}

        });
    </script>
{% endblock %}

{% block footer %}{% endblock %}
