{% extends "documents/app.html" %}


{% block body-id %}document-edit-view{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url my_documents %}">Back to list</a></li>
        <li><a class="show" href="{% url show_document document.id %}">Show</a></li>
    </ul>
{% endblock %}

{% block content %}
{{ block.super }}
<div id="help">
    <div id="help-content">
        <h3>shortcuts</h3>
        <ul>
            <li>OPTION+N: Create new entity</li>
            <li>OPTION+R: Rename document</li>
            <li>OPTION+S: Save document</li>
        </ul>
        <h3>auto-fill conditions</h3>
        <ul>
            <li>a column that named "id": integer type.</li>
            <li>a column that starts with "_is": boolean type.</li>
            <li>a column that starts with or ends with "date": datetime type.</li>
            <li>a column that consist with table name, underscore and column name: foreign key.</li>
        </ul>
    </div>
    <a href="#help-content" id="help-button" data-toggle="true" class="button">Help</a>
</div>
{% endblock %}