{% extends "documents/app.html" %}


{% block body-id %}document-edit-view{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url my_documents %}">Back to list</a></li>
        <li><a class="show" href="{% url show_document document.pk %}">Show</a></li>
    </ul>
{% endblock %}

{% block content %}
{{ block.super }}
<div id="help">
    <div id="help-content">
        <h3>Shortcuts</h3>
        <ul>
            <li>OPTION+N: Create new entity</li>
            <li>OPTION+R: Rename document</li>
            <li>OPTION+S: Save document</li>
        </ul>
        <h3>Auto-fill conditions</h3>
        <ul>
            <li>Columns that named "id": integer type.</li>
            <li>Columns that starts with "_is": boolean type.</li>
            <li>Columns that starts with or ends with "date": datetime type.</li>
            <li>Columns that consist with table name, underscore and column name: foreign key.</li>
        </ul>
    </div>
    <a href="#help-content" id="help-button" data-toggle="true" class="button">Help</a>
</div>
<div id="chat">
    <aside></aside>
    <section>
        <ul></ul>
    </section>
    <footer></footer>
</div>
<a href="#chat" id="chat-button" data-toggle="true" class="button">
    Online: <span id="online-count">2</span>
</a>
{% endblock %}