{% extends "base.html" %}

{% block content %}
    <section class="documents content">
    <h2>My Documents</h2>
    <ul>
        {% for document in documents %}
        <li>
            <a href="{{ document.get_edit_url }}">{{ document.title }}</a>
            <div class="info">
            <a href="{{ document.get_edit_url }}" class="delete" data-method="delete">Delete</a>
            <span class="icon fork">{{ document.get_fork_count }} fork</span>
            <span class="icon star">{{ document.star_count }} star</span>
            </div>
        </li>
        {% empty %}
        <li>You haven't got a created document.
            <a href="{% url new_document %}">Click here for new document.</a>
        </li>
        {% endfor %}
    </ul>
    </section>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
    $(function () {
        // simulates http DELETE method for CSRF.
        $("a[data-method]").each(function () {
            $(this).click(function () {
                $.ajax({
                    url: $(this).attr("href"),
                    type: $(this).data("method"),
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    }
                }).complete(function () {
                    $(this).parents("li").hide();
                }.bind(this));
                return false;
            });
        });
    });
    </script>
{% endblock %}