<!DOCTYPE html>
<html lang="en">
<head>
    <title>dbpatterns - create, share, explore database patterns</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/h5bp.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/prettify.css" />
    {% block extra-head %}{% endblock %}
</head>
<body id="{% block body-id%}dbpatterns{% endblock %}">

{% block header %}
    <header id="banner">
        <h1><a href="{% url home %}">db<span>patterns</span></a></h1>
        <nav>
            {% if user.is_anonymous %}
            <ul>
                <li><a href="{% url auth_registration %}">Register</a></li>
                <li><a href="{% url auth_login %}">Login</a></li>
                <li><a href="{% url home %}">Home</a></li>
            </ul>
            {% else %}
            <ul>
                <li><a href="{% url auth_logout %}">Logout ({{ user.username }})</a></li>
                <li><a href="{% url my_documents %}">My Patterns</a></li>
                <li><a href="{% url new_document %}">New Pattern</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    <!-- libs -->
    <script src="{{ STATIC_URL }}js/libs/prettify/prettify.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery/jquery.form2json.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery/jquery.jsplumb.js"></script>
    <script src="{{ STATIC_URL }}js/libs/keymaster/keymaster.js"></script>
    <script src="{{ STATIC_URL }}js/libs/underscore/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/libs/underscore/underscore.string.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone/backbone.shortcuts.js"></script>

    <!-- utilities -->
    <script src="{{ STATIC_URL }}js/utilities.js"></script>
{% endblock %}

    <!-- google analytic snippet -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35600874-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>
</html>