{% extends 'base.html' %}

{% block content %}
    <section class="content landing">
        <p>
            Dbpatterns is a service that allows you to create, share, explore
            database models on the web. And also you can <cite>fork</cite> already created database
            models.
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://dbpatterns.com">Tweet</a>
        </p>
    </section>

    <section class="content search">
        <h2>Search pattern</h2>
        {% include "documents/search_form.html" %}
    </section>

    <section class="content latest">
        <h2>Trending patterns</h2>
        {% for document in most_rated_documents %}
            {% include "documents/preview.html" %}
        {% endfor %}
    </section>

    <section class="content latest">
        <h2>Recently added patterns</h2>
        {% for document in recently_added_documents %}
            {% include "documents/preview.html" %}
        {% endfor %}
    </section>
{% endblock %}

{% block footer %}
    <footer>
        dbpatterns is an open-source project. you can contribute on
        <a href="http://github.com/fatiherikli/dbpatterns">github</a>.
    </footer>
{% endblock %}

{% block scripts %}
{{ block.super }}
    <!-- twitter share button -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

