{% extends 'base.html' %}

{% block content %}
    <section class="content landing">
        <p>
            Dbpatterns is a service that allows you to create, share, explore
            database models on the web. And also you can <cite>fork</cite> already created database
            models.
        </p>
    </section>

    <section class="content latest">
    <h2>Most rated patterns</h2>

        {% for document in most_rated_documents %}
        <div class="document-preview">
            <h4><a href="{{ document.get_absolute_url }}">{{ document.title }}</a></h4>
            {% for entity in document.entities|slice:":3" %}
            <ul class="entity-preview">
                <li class="name">{{ entity.name }}</li>
                {% for attribute in entity.attributes|slice:":5" %}
                <li>{{ attribute.name }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endfor %}


    </section>


{% endblock %}